In [18]:
import pandas as pd
import plotly.exceptions as px

In [19]:
spending_df = pd.read_csv('data/Data_export_12042024.csv', parse_dates = ['Date'], date_format = "%d/%m/%Y")
rename_columns = {'Date' : 'date', 'Narrative' : 'narrative', 'Debit Amount' : 'debit_amount'}
spending_df = spending_df.rename(
    rename_columns, axis = 1
)[rename_columns.values()].drop(
    'narrative', axis = 1
).query(
    'debit_amount >= 0'
)

In [20]:
px.bar(spending_df)

AttributeError: module 'plotly.exceptions' has no attribute 'bar'

In [6]:
spending_df.query('~Narrative.str.startswith("WITHDRAWAL")')

,Bank Account,Date,Narrative,Debit Amount,Credit Amount,Balance,Categories,Serial
0,733120655907,11/04/2024,EFTPOS DEBIT 0206758 STAN.COM.AU\ ...,16.00,NaN,693.28,POS,NaN
2,733120655907,11/04/2024,DEBIT CARD PURCHASE OF LONDO...,15.62,NaN,3709.28,PAYMENT,NaN
3,733120655907,11/04/2024,DEBIT CARD PURCHASE EBILLINGCARE.COM 877266624...,6.23,NaN,3724.90,PAYMENT,NaN
4,733120655907,10/04/2024,DEBIT CARD PURCHASE Google Smart Widget L Pyrm...,65.99,NaN,3731.13,PAYMENT,NaN
5,733120655907,10/04/2024,DEBIT CARD PURCHASE MICROSOFT#G044372877 MSBIL...,4.28,NaN,3797.12,PAYMENT,NaN
...,...,...,...,...,...,...,...,...
257,733120655907,04/03/2024,DEPOSIT-OSKO PAYMENT 2715778 GRIFFIN BOHN Sonder,NaN,228.0,545.64,DEP,NaN
260,733120655907,01/03/2024,DEBIT CARD PURCHASE UBER *TRIP Syd...,31.63,NaN,522.64,PAYMENT,NaN
261,733120655907,01/03/2024,DEBIT CARD PURCHASE UBER *TRIP Syd...,25.45,NaN,554.27,PAYMENT,NaN
262,733120655907,01/03/2024,DEBIT CARD PURCHASE 7-ELEVEN 1321 ROSEBUD ...,21.60,NaN,579.72,PAYMENT,NaN
263,733120655907,01/03/2024,DEPOSIT ONLINE 2659798 TFR Westpac Lif,NaN,200.0,601.32,CREDIT,NaN